<html>
    <head>
        <title>The Grateful Wall</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css" >
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" >
        <div class="ui container ">
            <div class="ui equal width center aligned padded grid">
                <div class="column ">
                    <h1 class="column">The Grateful Wall</h1>
                </div>
            </div>    
            <div class ="ui four item menu ">
                <a href="/" class="item">Home</a>
                <a href="/new" class="item">Submit</a>                 
                <a href="/about" class="item">About</a>                 
                <a href="/login" class="item">Login</a>                 
             </div>
         