</div>
<footer>
    <div class="ui divider">
    </div>
    <div class="ui container center aligned padded text">
        <div>This website was created by Michael McHenry</div>
        <div class="ui horizontal inverted small divided link list">
            <a href="https://github.com/rompasaurus">
                <i class="github icon large"></i>
            </a>
            <a href="https://www.linkedin.com/in/michael-mchenry-72416994">
                <i class="linkedin icon large"></i>
            </a>
            <a class="twitter-share-button twitter"
            href="http://twitter.com/share"
            data-text="Semantic UI 2.0 is out!"
            data-url="http://semantic-ui.com"
            data-via="semanticui"><i class="twitter icon large"></i>
            </a>
        </div>
    </div>
</footer>
    </head>
</html>