<%if(isLoggedIn){ %>
<% include ./partials/headerLoggedin %>
<% }if(!isLoggedIn){%>
<% include ./partials/header %>
<%}%>
    <div class="ui equal width center aligned padded grid">
        <div class="column">
            <h2><%= title %></h2>
        </div>
    </div>
    <div class="ui secondary pointing ten item stackable menu">
        <a class="active item" href="/sort/today">Today</a>        
        <a class="item" href="/sort/dateAscend">Date +</a>
        <a class="item" href="/sort/dateDescend">Date -</a>
        <a class="item" href="/sort/upvote">Upvote</a>
        <a class="item" href="/sort/downvote">Downvote</a>
        <a class="item" href="/sort/popular">Popularity</a>
    </div>

<div class="ui container center aligned ">
    <div class="ui equal width center aligned padded grid">
        <div class="column">
            <% include partials/gratitude %>
        </div>
    </div>    
</div>


<% include partials/footer%>