<% include partials/header %>

    <div class="ui equal width center aligned padded grid">
        <div class="column">
            <h2>Today's Gratitudes</h2>
        </div>
    </div>    

<div class="ui container segment">
    <div class="ui equal width center aligned padded grid">
        <div class="column">
            <% include partials/gratitude %>
        </div>
    </div>    
</div>


<% include partials/footer%>