<% include partials/header %>
<style>
    a {
        text-align: justify;
        text-justify: inter-word;
    }
</style> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="ui main text container segment">
    <div class="ui huge header">Login</div>
    <form class="ui form" action="/login" method="POST">
    <div class="field">
        <label>Username</label>
        <input type="text" name= "username" placeholder="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name= "password" placeholder="password">
    </div>
    <div class="field">
        <button class="fluid ui button" type="submit">Submit</button>
    </div>
    </form>
    <div class="ui" href="/auth/google" id="buttonDiv"></div>
        <a href="/auth/google" class="fluid ui basic button"> Sign in with Google    <span class="fa fa-google"></span></a>
        <br>
    <div>
    <div class="ui" href="/auth/github" id="buttonDiv"></div>
        <a href="/auth/github" class="fluid ui basic button"> Sign in with Github   <span class="fa fa-Github"></span></a>
    <br>
    <div>
    <div class="ui" href="/auth/facebook" id="buttonDiv"></div>
        <a href="/auth/facebook" class="fluid ui basic button"> Sign in with Facebook (testing)  ß <span class="fa fa-facebook"></span></a>
    <br>
    <div>
        <a  href="/register">Register New Account</a>
    </div>
    <div>
        <a  href="/password_reset">Forgot password</a>
    </div>
</div>
<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{your-app-id}',
        cookie     : true,
        xfbml      : true,
        version    : '{api-version}'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
<% include partials/footer %>
