<% include partials/header %>
<style>
    a {
        text-align: justify;
        text-justify: inter-word;
    }
</style> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="ui main text container segment">
    <div class="ui huge header">Login</div>
    <form class="ui form" action="/login" method="POST">
    <div class="field">
        <label>Username</label>
        <input type="text" name= "username" placeholder="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name= "password" placeholder="password">
    </div>
    <div class="field">
        <button class="fluid ui button" type="submit">Submit</button>
    </div>
    </form>
    <div class="ui" href="/google/auth" id="buttonDiv"></div>
    <a href="/auth/google" class="fluid ui button"><span class="fa fa-google"></span> Sign in with Google</a>
    <br>
    <div>
        <a  href="/register">Register New Account</a>
    </div>
    <div>
        <a  href="/password_reset">Forgot password</a>
    </div>
</div>
<% include partials/footer %>
