<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Reset Password</div>
        <form  class="ui form" action="/password_reset" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name= "email" placeholder="Email">
            </div>
                <small>A confirmation email will be sent after submitting this request. Please check the email for further instructions.</small>
                <hr>
            <div class="field">
                <button class="ui button big" type="submit">Submit</button>
            </div>
            </fieldset>
        </form>
    </div>
</div>
<% include ./partials/footer %>