<%if(currentUser){ %>
<% include partials/headerLoggedIn %>
<% }if(!currentUser){%>
<% include partials/header %>
<%}%>
<div class="ui container center aligned text ">
    <div class="ui text center segment attached">
        <h3>"I am grateful for <%=gratitude.description %>"</h3>
        <p><em><%=gratitude.name.username %></em></p>
        <p><%=gratitude.created.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' });%></p>
        </form>
    </div>
    <% include partials/editButtons %>

<div class="ui equal width center aligned padded grid">
    <div class="column">
        <h2 class="ui horizontal divider header">Comments</h2>
    </div>
</div>
    <% if(gratitude.comments.length == 0){ %>
    <h4 class="ui horizontal divider header">No Comments</h4>
    <% }else{ %>
    <% include partials/comments %>
    <%}%>
</div>

<%if(currentUser){ %>
<% include partials/addCommentForm%>
<% }if(!currentUser){%>
<div class="ui container center aligned text ">
    <p>login or register to post comments</p>
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register New Account</a></p>
</div>
<%}%>


<% include partials/footer%>